@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Fourth Coffee</h1>
    <p>
        Fourth Coffee was founded in 2010 and delivers coffee and fresh baked goods right to your door. 
        In another life, Bill Baker was a developer by day and pastry chef by night.  
        But soon Bill's innate skills with all things involving butter, flour and sugar put him 
        even more in demand than his programming talents and what started out as a way to satisfy 
        his own sweet tooth became all-consuming.  Fourth Coffee is not only a candy-coated wonderland 
        of coffee, pastries, cookies and cakes, it also honors his tech background by employing a state 
        of the art online ordering system that makes it easy for anybody with internet access to 
        order his all natural, locally-sourced confections and have them delivered to their 
        door within 24 hours.
    </p>
    https://lh3.googleusercontent.com/0S_kjPpfcejLKPeOZmIye8SjzJvIl5FZEXcCnBJw3fxhpxhQNPTYXnPUDsTD5_oUPWoaUuBUgo8BQhgRC4oxt_4g3HMuDN3lBDofcFa-NWvr1Tw2nEvhAyx3Gyo20AetWgsgXuevYv2fmXfFvVj4Sibylp3wwgUnqwFqR-6oGTyPHH3pxd66Mf8XGlCfCzD6YzqIAPcyg7m0Vn8x5KmuXCAONzWleGkFfe6wvJS9X3LzhWUqRnIXwoeLBA4ajY-wDMQ6GxfRr_IVvo2oWRCnh1k0_XuYCRlE1jTJaikrzyk1J-CoUnKzG0J_vj17PPl9_Dnd9IO7haB2ebLxaMBaPDQroZDFeSC4AleKV6IO7hGsFu4QpILzzXr1k3W_X3gVeMKKmCHloFRMCGvIKi-tBv2X9TENzHcTCQ3C1WagiO4KRP6-h3HK--HSJKgFIgmBEQ8Ad4uqu4F3lWbOhBLsRt7eKyhC7hEymT5AbpDj718ecewleOnxpi-IjQAAhoJXNW0ypJwkK2-pUaSNCx3Fl_8W8l_1TWpxRW_D1XDhE05QgGC2AbmZTQbp6hqHa0etkJV9XjsJP3rz68Z1MmJih3Sp1e803HMWfnlbqTMQVHuyMpddzI3teM3Il8dhafslgNqgU8TErQHAQn8GynsBR25c2EmCmGOjSi37B9yxTXxS04ncFytcOC5fkLqvuyQ-jX0mM3RV891PSbV_WAqA-vkhDIEeBmo1ffQpF0XXn5Eh3oNOH4qvYY2OyFt5HV53SRYeEBtOKucywmJ4RSywnY5GiLIYND8odTsss_9vkJQ4ZmJzFlQ8m3ie9o2PVC1ZsusObiL7h6_eK4gd6636DJS57O6lnS01dnlhJCSVbOQbKPNrj9F8WTFEiMO5PaJQHqJoA5E2p8Tn3-cL2_a2jBFFHKZ80AxV8n-U-J4pwQIVYIi9=w225-h301-no?authuser=0
   </section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
